.chapter(data-title='Server Notifications and Alerts')
  .step(data-file='src/main/resources/administrators.json')
    :markdown
      ## What does this thing do?

      This [Spring](https://spring.io/) sample application demonstrates
      how to send SMS alerts to a list of system administrators if something goes
      wrong on your server. In this tutorial, we'll show you the key bits of code
      to make this work.

      Let's get started!

      ---

      **See Also:**
      * [Spring](https://spring.io/)
      * [Serving Web Content with Spring MVC](https://spring.io/guides/gs/serving-web-content/)

  .step(data-file='src/main/resources/administrators.json')
    :markdown
      ## List server admins

      Create a list of administrators who should be notified if a server error occurs.
      Each administrator must have a `phoneNumber`.

  .step(data-file='notifications/domain/twilio/Client.java',
  data-highlight='15-20')
    :markdown
      ## Configure Twilio client

      In order to send a message we'll need to initialize the [Twilio Java Helper
      Library](https://www.twilio.com/docs/java/install),
      which requires reading our `TWILIO_ACCOUNT_SID` and `TWILIO_AUTH_TOKEN`
      defined as environment variables.

      ---

      **See Also:**
      * [Twilio Java Helper Library](https://www.twilio.com/docs/java/install)
      * [Twilio Java
      SDK](http://mvnrepository.com/artifact/com.twilio.sdk/twilio-java-sdk)

  .step(data-file='notifications/controller/GlobalExceptionController.java',
  data-highlight='10,12-15,26,34')
    :markdown
      ## Handle all errors

      Spring MVC provides several techniques to handle errors, but in this case
      we are interested in handling all our application's exceptions. 
      For that purpose, we can use 
      [Global Exception Handling](https://spring.io/blog/2013/11/01/exception-handling-in-spring-mvc#global-exception-handling).

      ---

      **See Also:**
      * [Exception Handling in Spring MVC](https://spring.io/blog/2013/11/01/exception-handling-in-spring-mvc)

  .step(data-file='notifications/controller/GlobalExceptionController.java',
  data-highlight='28-33')
    :markdown
      ## Create a custom alert message

      Here we create an alert message to send out via text message. You might also
      decide to include a picture with your alert message, maybe a screenshot of the
      application when the crash happened?

      ---

      **See Also:**
      * [String.Format](http://docs.oracle.com/javase/7/docs/api/java/lang/String.html#format)

  .step(data-file='notifications/service/AdministratorService.java',
  data-highlight='25')
    :markdown
      ## Reading the admins from the JSON file

      Next we read the admins from our JSON file. We're relying on the
      [Gson](https://github.com/google/gson) Java library to convert our JSON
      text file into `Administrator` objects, which we created in our application.

      ---

      **See Also:**
      * [Gson](https://github.com/google/gson)
      * [JSON](http://www.json.org/)

  .step(data-file='notifications/domain/twilio/Client.java',
  data-highlight='27-45')
    :markdown
      ## Sending a text message

      There are the three parameters needed to [send an
      SMS](https://www.twilio.com/docs/quickstart/java/sms/sending-via-rest)
      using the [Twilio REST API](https://www.twilio.com/docs/api/rest):
      `From`, `To`, and `Body`. [US and Canadian phone
      numbers](https://www.twilio.com/help/faq/sms/is-mms-supported-for-all-carriers-in-us-and-canada)
      can also send an image with the message.

      ---

      **See Also:**
      * [REST API Docs for Message resource](https://www.twilio.com/docs/api/rest/message)
      * [Your message logs in the account portal](https://www.twilio.com/user/account/log/messages)

  .step
    :markdown
      ## Where to next?

      That's it! We've just implemented an automated server notification system
      that can send you server alerts if anything goes wrong. If you're a Java
      developer working with Twilio, you might want to check out these other
      tutorials.

      [**Automated
      Survey**](https://www.twilio.com/docs/howto/walkthrough/automated-survey/java/spring)

      Instantly collect structured data from your users with a survey conducted
      over a voice call or SMS text messages

      [**Appointment
      Reminders**](https://www.twilio.com/docs/howto/walkthrough/appointment-reminders/java/spark)

      Send your customers a text message when they have an upcoming appointment,
      this tutorial shows you how to do it from a background job.

      ### Did this help?

      Thanks for checking out this tutorial! If you have any feedback to share
      with us, we'd love to hear it. Tweet [@twilio](http://twitter.com/twilio)
      to let us know what you think.
